{% extends "baseTemplate.html" %}

{% block head %}
	{{super()}}
{% endblock head %}


{% block content %}
	<div id="body">
		<div class="header">
			<div>
				<h1>Our Bites</h1>
			</div>
		</div>
		<div>
			<ul>
				<li>
					<h1>All Time Classic</h1>
					<p>This website template has been designed by freewebsitetemplates.com for you, for free.</p>
				</li>
				<li>
					<img src="images/kiwi.jpg" alt="">
					<h2>Kiwi</h2>
					<button class="addToCartButton" id="Kiwi">Add To Cart</button>
				</li>
				<li>
					<img src="images/mango.jpg" alt="">
					<h2>Mango</h2>
					<button class="addToCartButton" id="Mango">Add To Cart</button>
				</li>
				<li>
					<img src="images/cantaloupe.jpg" alt="">
					<h2>Cantaloupe</h2>
					<button class="addToCartButton" id="Cantaloupe">Add To Cart</button>
				</li>
			</ul>
			<ul>
				<li>
					<h1>Berry Special</h1>
					<p>This website template has been designed by freewebsitetemplates.com for you, for free.</p>
				</li>
				<li>
					<img src="images/blackberry.jpg" alt="">
					<h2>blackberry</h2>
					<button class="addToCartButton" id="Blackberry">Add To Cart</button>
				</li>
				<li>
					<img src="images/strawberry.jpg" alt="">
					<h2>Strawberry</h2>
					<button class="addToCartButton" id="Strawberry">Add To Cart</button>
				</li>
				<li>
					<img src="images/blueberry.jpg" alt="">
					<h2>BLUEBERRY</h2>
					<button class="addToCartButton" id="Blueberry">Add To Cart</button>
				</li>
			</ul>
			<ul>
				<li>
					<h1>Fruit Blast</h1>
					<p>This website template has been designed by freewebsitetemplates.com for you, for free.</p>
				</li>
				<li>
					<img src="images/grapes.jpg" alt="">
					<h2>Grapes</h2>
					<button class="addToCartButton" id="Grapes">Add To Cart</button>
				</li>
				<li>
					<img src="images/green-apple.jpg" alt="">
					<h2>Green Apple</h2>
					<button class="addToCartButton" id="Green Apple">Add To Cart</button>
				</li>
				<li>
					<img src="images/pineapple.jpg" alt="">
					<h2>Pineapple</h2>
					<button class="addToCartButton" id="Pineapple">Add To Cart</button>
				</li>
			</ul>
		</div>
	</div>
{% endblock content %}
