{% extends "baseTemplate.html" %}

{% block head %}
	{{super()}}
{% endblock head %}

{% block content %}
		<div id="body">
			<div class="header">
				<div>
					<h1>Checkout</h1>
				</div>
			</div>
			<div class="cart">
				Put cart items here
			</div>
			<div class="checkoutButton">
				<form action="" method="POST">
					<script
						src="https://checkout.stripe.com/checkout.js" class="stripe-button"
						data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
						data-amount="2000"
						data-name="Demo Site"
						data-description="2 widgets ($20.00)"
						data-image="/128x128.png"
						data-locale="auto">
					</script>
				</form>
			</div>
		</div>
{% endblock content %}

